* {
    margin: 0;
    padding: 0;
}


.content {
    position: relative;
    left:300px;
    width: calc(100% - 300px);
    height: 100vh;
    background-color:#fafafa;
    overflow: hidden;

}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 79px);

}

.dashboard {
    width: 300px;
    position: absolute;
}
/* ------------------------------------------------------------ */
.tableContainer {
    /*border: 1px solid black;*/
    color: black;
    min-height: 70vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: calc(100% - 20px);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 117px;
}

.subTableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow:hidden;
    min-height: 500px;
}

.title {
    display: flex;
    width: 90%;
    padding: 10px 0 20px 0;

    h2 {
        margin-left: 20px;
        padding : 10px 15px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Drop shadow */
    }
}

.subTitle {
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.toggleWindow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .btnContainer {
        display: flex;
        width: 50%;
        justify-content: space-around;
        background-color: #aeeeee;

        .toggleBtn {
            font-size: 18px;
            color: white;
            background: transparent;
            border-width: 0px;
            padding: 30px;
            width: 100%;
            height: 100%;
            transition: box-shadow 0.5s, color 0.25s;
        }
        .toggleBtn:hover,
        .toggleBtn:focus {
            box-shadow: inset 0 -81px 0 0 lightblue; /*inside fill color*/
            border-color: lightblue; /*border fill color*/
            color: white; /* #dde6ed */
        }

    }
}


.title {
    display: flex;
    width: 100%;
    padding: 10px 0 20px 0;
    align-items:center;
    justify-content:space-between;

    h2 {
        margin-left: 20px;
        padding : 10px 15px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    }

    .addButtonContainer {
        margin-right: 20px;
        width: 150px;
        border: none;
        height: 49px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;

        .addBtn {
            background-color: transparent;
            border: none;
            width: 100%;
            font-size: 16px;
            font-weight: 600;
            color: #27374d;
            height: 100%;
            transition: box-shadow 0.5s, color 0.25s;
        }
        .addBtn:hover {
            background-color: lightblue;
            color: white;
            cursor: pointer;
        }
        .addBtn:active {
            background-color: cyan;
            color: white;
        }
    }
}

