.badge{
    width: 380px;
    padding: 0.7rem 2rem;
    border-radius: 16px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

.cont{
display: flex;
align-items: center;
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(255, 255, 255, 0.486);

}
.header-badge{
text-align: center;
color: var(--pink);
display: flex;
align-items: center;
justify-content: space-between;
padding: 0.3rem 2rem;
margin-bottom: 5px;
}

.badge-pic{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-around;
    
}


p.first{
font-size: 0.9rem;
color: var(--purple);
}
p.scnd{
   
    font-size: 0.9rem;
}


p.id{
    margin-top: 1rem;
    font-size: 0.8rem;
}

.lef{


position: fixed;
top: 170px;
right: 50px;
background: var(--pink);
font-weight: 1000;
}